@model IEnumerable<BusinessLogic.Models.ChatMessageModel>
@{
	ViewData["Title"] = "Chat";
}

<head>
	<link rel="stylesheet" type="text/css" href="~/Content/Chat.css">
</head>

<body>
	<div id="UserList">
		<form id="returnmenu">
			<button>Return</button>
		</form>
		<ul id="listofrooms">
			<li>jan</li>
			<li>klaas</li>
		</ul>
	</div>

	<div id="Chat">
		<form id="userinfo">
			<button>filling</button>
		</form>
		<ul id="ul1"></ul>
		<div id="scrollBar">
			@foreach (var item in Model)
			{
				<br />
				if (item.IsSent)
				{
					<div id="sent">
						<p>
							@Html.DisplayFor(modelItem => item.Text)
						</p>
						<p>
							@Html.DisplayFor(modelItem => item.Date)
						</p>
					</div>
				}
				else
				{
					<div id="notsent">
						<p>
							@Html.DisplayFor(modelItem => item.Text)
						</p>
						<p>
							@Html.DisplayFor(modelItem => item.Date)
						</p>
					</div>
				}
			}
		</div>
		<form id="form">
			@using (Html.BeginForm("ChatSend", "Chat", FormMethod.Post))
			{
				@Html.TextBox("message")
				<input type="submit" name="Submit" />
			}
		</form>
	</div>
</body>

<script>
	var objDiv = document.getElementById("scrollBar");
	objDiv.scrollTop = objDiv.scrollHeight;
</script>

<script src="~/Scripts/jquery-3.4.1.js"></script>

<script src="https://cdn.jsdelivr.net/npm/gun/gun.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gun/lib/cryptomodules.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gun/sea.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

<script type="text/javascript">
	var gun = Gun("https://diabetesappfontysgroep3.herokuapp.com/gun");
	var gunItems = gun.get('Test');

	var kaas = "";

	gun.get('Test').on(function (item, id) {
		kaas = item[Object.keys(item)[Object.keys(item).length - 1]]
	})

	console.log(kaas);

	let prod = new Array();
	prod.push(kaas);
	var product = { Name: prod }

	$(document).ready(function () {
		$('#btnSend').click(function () {
			$.ajax({
				type: "POST",
				contentType: "application/json; charset=utf-8",
				data: JSON.stringify(prod),
				url: "/Home/GetData",

				success: function (data) {
					alert(data);
				},
				error: function (result) {
					alert("Something went wrong");
				}
			})
		})
	})
</script>